@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Righteous&family=Roboto:wght@300&family=Ubuntu:wght@300;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}
.home {
    background-image: url(../images/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
#background-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    background-position: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -100;
}
/* Nav-bar  */
.menu {
    display: flex;
}
nav {
    width: 100%;
    height: 80px;
    font-weight: lighter;
    font-size: 18px;
    margin-top: 0.3rem;
}
label.logo-h {
    padding: 0 40px;
}
.logo-hide {
    display: none;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
    position: relative;
}
nav ul li a {
    color: #322E2F;
}
nav ul .link-follow {
    display: none;
    color: #fff;
    font-size: 14px;
}

.checkbtn {
    font-size: 1.6rem;
    font-weight: lighter;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    color: #322E2F;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}

/* Active  */
.a_view {
    font-weight: lighter;
    color: #00D4FF;
    text-decoration: underline;
}
.active a{
    color: #00D4FF;
    padding-bottom: 10px;
    border-bottom: 2px solid #00D4FF;
}
.active-home a{
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
}

nav ul li a:hover {
    color: #322E2F;
}

ul a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 0%;
    background: #322E2F;
    height: 2px;
    transition: all 0.7s linear;
    margin: -20px 0;
}
ul a::after {
    content: '';
    position: absolute;
    right: 0;
    top: 100%;
    width: 0%;
    background: #322E2F;
    height: 2px;
    transition: all 0.7s linear;
    margin: -20px 0;
}
ul a:hover::before {
    width: 100%;
    background: #00D4FF;
}
ul a:hover::after {
    width: 100%;
    background: #00D4FF;
}

/* All component  */

/* Container  */
.container {
    width: 90%;
    margin: 0 auto;
}
.container-full {
    width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
/* Column  */
.col-s-2 {width: 16.66%;}
.col-s-2-4 {width: 20%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-12 {width: 100%;}

/* List item  */
.list-items {
    display: flex;
    align-items: center;
}
.con-center {
    justify-content: center;
}
.con-space-b {
    justify-content: space-between;
}
/* Typography  */
.text-center {
    text-align: center;
}

/* line hight  */
.line-h-0{
    line-height: 1.6rem;
}
.line-h{
    line-height: 2rem;
}
.line-h-1{
    line-height: 3rem;
}
.line-h-2{
    line-height: 3.5rem;
}
/* background color  */
.bg-teal {
    background: #00D4FF;
}
/* font-size  */
.f-s-head {
    font-size: 40px;
    font-weight: 700;
}
.f-s-sm {
    font-size: 24px;
    font-weight: 400;
}

/* margin  */
.m-y {
    margin: 0.6rem 0 0.6rem;
}

.m-t {
    margin-top: 1rem;
}
.m-t-1 {
    margin-top: 1rem;
}
.m-t-3 {
    margin-top: 3rem;
}
.m-t-4 {
    margin-top: 4rem;
}
.m-l {
    margin-left: 1rem;
}
.m-l-2 {
    margin-left: 5rem;
}
.m-l-1 {
    margin-left: 4rem;
}
/* Padding  */
.p-0 {
    padding: 0.5rem;
}
.p {
    padding: 1rem;
}
.p-1 {
    padding: 2rem;
}
.p-b {
    padding-bottom: 2rem;
}
/* Color  text*/
.text-teal {
    color: #00D4FF;
}
.text-light {
    color: #fff;
}
.text-dark {
    color: #322E2F;
}
/* font-Weight  */
.f-w-light {
    font-weight: 100;
}
.f-w-light-sm {
    font-weight: 100;
}
.f-w-light-con {
    font-weight: 500;
}

/* Font size  */
.font-large {
    font-size: 20px;
    letter-spacing: 0.1rem;
}
.font-large-c {
    font-size: 25px;
    letter-spacing: 0.1rem;
}
.font-18 {
    font-size: 14px;
}
/* Color-background  */
.bg-dark {
    background: #322E2F;
}

/* Footer  */
.footer p,h5,input{
    font-family: 'Rototo', sans-serif;
    font-size: 14px;
}
/* Style Element  */
/* icon  */
.material-icons {
    font-size: 32px;
    color: #fff;
}
.text-shadow {
    text-shadow: 1px 1px 1px #ddd,
                1px 2px 1px #ddd,
                1px 3px 1px #ddd;
}
.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
/* Input type  */
.form {
    box-sizing: border-box;
    padding: 15px;
    width: 90%;
    margin: 0 auto;
}
.form-control {
    padding: 10px;
    outline: none;
}
.input {
    width: 100%;
    padding: 15px;
    margin: 10px;
    border: none;
    outline: none;
    resize: none;
}
::placeholder {
    font-family: 'Rototo', sans-serif;
    font-size: 15px;
}
.form-send {
    width: 70%;
    padding: 10px;
    outline: none;
}
/* Button  */
.btn {
    border: none;
    padding: 12px;
    cursor: pointer;
    transition: 1s;
    color: #fff;
}
.btn:hover {
    color: #00D4FF;
    background: #18181a;
}
.button-57 {
  position: relative;
  overflow: hidden;
  border: none;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 14px 18px 15px;
  text-decoration: none;
  cursor: pointer;
  background: #322E2F;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  z-index: 0;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

/* Tablet  */
@media (max-width: 834px) {
    .logo-h img {
        width: 70px;
        margin: 15px;
    }
    #background-img {
        display: none;
    }
    .home {
        position: absolute;
    }
    /* text  */
    .home .f-s-head {
        font-size: 45px;
    }
    .home .f-s-sm {
        font-size: 20px;
    }
    nav ul{
        float: right;
        margin-right: 10px;
        font-size: 14px;
    }
    nav ul li {
        display: inline-block;
        line-height: 50px;
        margin: 10px;
        position: relative;
    }
    label.logo-h {
        padding: 0;
    }
    .active-home a{
        color: #00D4FF;
        padding-bottom: 10px;
        border-bottom: 2px solid #00D4FF;
    }

    /* About  */
    .about .col-s-6 {
        width: 100%;
    }
    .contact-form .col-s-6 {
        width: 100%;
    }
    .detail {
        position: relative;
        margin-top: -15%;
    }
    .about h1 {
        text-align: center;
    }
    .about .button {
        display: flex;
        justify-content: center;
    }
    .col-s-2-4 {
        width: 33%;
    }
    .font-large {
        font-size: 20px;
    }
    .achive .col-s-4 {
        width: 100%;
    }
    #education-page .detail {
        position: relative;
        margin-top: -1rem;
    }
    .form-page {
        background: #00D4FF;
        padding-top: 1rem;
    }
    .form-page .form {
        padding-right: 30px;
    }
}

/* Phone  */
@media (max-width:480px){
    .logo-h img {
        width: 70px;
        margin: 15px 0;
    }
    .logo-hide {
        display: inherit;
        text-align: center;
    }
    .home .container {
        margin-top: 80px;
    }
    /* text  */
    #title-form {
        font-size: 20px;
    }
    .home .f-s-sm {
        font-size: 18px;
    }
    .f-s-head {
        font-size: 10vw;
    }    
    .home .m-t-4 {
        margin-top: 2rem;
    }
    #about-page .menu,
    #contact-page .menu,
    #education-page .menu,
    #hobby-page .menu{
        top: 0;
        background: #fff;
        width: 100%;
        position: fixed;
        z-index: 1;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
    nav{
        margin: 0 15px;
    }
    nav ul {
        position: fixed;
        background: #322E2F;
        width: 100%;
        top: 0;
        left: -100%;
        text-align: center;
        transition: all .5s;
        height: 100%;
        z-index: 50;
    }
    nav ul li{
        display: block;
        line-height: 50px;
    }
    nav ul li a {
        font-size: 18px;
        color: #fff;
    }
    nav ul .link-follow {
        display: contents;
    }
    .checkbtn {
        display: block;
        margin-right: 0;
        z-index: 150;
        position: relative;
    }
    #check:checked ~ .checkbtn  {
        color: #00D4FF;
    }
    #check:checked ~ ul {
        left: 0;
    }
    ul a:hover::before,
    ul a:hover::after {
        display: none;
    }
    .active-home a{
        color: #00D4FF;
        padding-bottom: 10px;
        border-bottom: 2px solid #00D4FF;
    }
    /* About */
    .about .m-t-1 {
        margin-top: 90px;
    }
    .col-s-2-4 {
        width: 100%;
    }
    .move-d {
        padding-top: 10%;
    }
    .detail {
        position: relative;
        margin-top: -30%;
    }
    #p-move{
        margin-top: 7%;
    }
    /* form-page */
    .form-page .col-s-10 {
        width: 100%;
        padding-top: 5px;
    }
    .form-page{
        padding-top: 30px;
    }
    /* footer  */ 
    .footer .hide {
        display: none;
    }
    .footer .col-s-3,
    .footer .col-s-6{
        width: 100%;
    }
    .footer .p-1 {
        padding: 0;
        margin-top: 15px;
    }
    .group-ele {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .contact-page {
        margin-top: 20vw;
    }
    .contact-form .col-s-5{
        width: 100%;
    }
    .hobby {
        margin-top: 6rem;
    }
} 
