@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Righteous&family=Roboto:wght@300&family=Ubuntu:wght@300;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}
.home {
    background-image: url(../images/bg.png);
    width: 100%;
    height: 100vh;
    background-position: center;
}
/* Nav-bar  */
.menu {
    display: flex;
}
nav {
    width: 100%;
    height: 80px;
    font-weight: lighter;
    font-size: 18px;
    margin-top: 0.3rem;
}
label.logo-h {
    padding: 0 40px;
}
.logo-hide {
    display: none;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
    position: relative;
}
nav ul li a {
    color: #322E2F;
}
nav ul .link-follow {
    display: none;
    color: #fff;
    font-size: 14px;
}

.checkbtn {
    font-size: 1.6rem;
    font-weight: lighter;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    color: #322E2F;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}

/* Active  */
.active a{
    color: #00D4FF;
    padding-bottom: 10px;
    border-bottom: 2px solid #00D4FF;
}
.active-home a{
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
}

nav ul li a:hover {
    color: #322E2F;
}

ul a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 0%;
    background: #322E2F;
    height: 2px;
    transition: all 0.7s linear;
    margin: -20px 0;
}
ul a::after {
    content: '';
    position: absolute;
    right: 0;
    top: 100%;
    width: 0%;
    background: #322E2F;
    height: 2px;
    transition: all 0.7s linear;
    margin: -20px 0;
}
ul a:hover::before {
    width: 100%;
    background: #00D4FF;
}
ul a:hover::after {
    width: 100%;
    background: #00D4FF;
}

/* All component  */

/* Container  */
.container {
    width: 90%;
    margin: 0 auto;
}
.container-full {
    width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
/* Column  */
.col-s-2 {width: 16.66%;}
.col-s-2-4 {width: 20%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}

/* Height  */
.h-0 {
    height: 570px;
}
/* List item  */
.list-items {
    display: flex;
    align-items: center;
}
.con-center {
    justify-content: center;
}
.con-space-b {
    justify-content: space-between;
}
/* Typography  */
.text-center {
    text-align: center;
}

/* line hight  */
.line-h{
    line-height: 2rem;
}
.line-h-1{
    line-height: 3rem;
}
.line-h-2{
    line-height: 3.5rem;
}
/* background color  */
.bg-teal {
    background: #00D4FF;
}
/* font-size  */
.f-s-head {
    font-size: 60px;
    font-weight: 700;
}
.f-s-sm {
    font-size: 24px;
    font-weight: 400;
}

/* margin  */
.m-t {
    margin-top: 1rem;
}
.m-t-1 {
    margin-top: 2rem;
}
.m-t-3 {
    margin-top: 3rem;
}
.m-t-4 {
    margin-top: 4rem;
}
.m-l {
    margin-left: 1rem;
}
.m-l-1 {
    margin-left: 4rem;
}
/* Padding  */
.p {
    padding: 1rem;
}
.p-1 {
    padding: 2rem;
}
.p-b {
    padding-bottom: 2rem;
}
/* Color  text*/
.text-teal {
    color: #00D4FF;
}
.text-light {
    color: #fff;
}
.text-dark {
    color: #322E2F;
}
/* font-Weight  */
.f-w-light {
    font-weight: 300;
}
.f-w-light-sm {
    font-weight: 100;
}
.f-w-light-con {
    font-weight: 500;
}

/* Font size  */
.font-large {
    font-size: 30px;
    letter-spacing: 0.2rem;
}
/* Color-background  */
.bg-dark {
    background: #322E2F;
}

/* Footer  */
.footer p,h5,input{
    font-family: 'Rototo', sans-serif;
    font-size: 14px;
}
/* Style Element  */
.text-shadow {
    text-shadow: 1px 1px 1px #ddd,
                1px 2px 1px #ddd,
                1px 3px 1px #ddd;
}
.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
/* Input type  */

.form-control {
    padding: 10px;
    outline: none;
}

/* Button  */
.btn {
    border: none;
    padding: 12px;
    cursor: pointer;
    transition: 1s;
    color: #fff;
}
.btn:hover {
    color: #00D4FF;
    background: #18181a;
}
.button-57 {
  position: relative;
  overflow: hidden;
  border: none;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 20px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #322E2F;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}


/* Tablet  */
@media (max-width: 834px) {
    .logo-h img {
        width: 70px;
        margin: 15px;
    }
    /* text  */
    .home .f-s-head {
        font-size: 45px;
    }
    .home .f-s-sm {
        font-size: 20px;
    }
    nav ul{
        float: right;
        margin-right: 10px;
        font-size: 14px;
    }
    nav ul li {
        display: inline-block;
        line-height: 50px;
        margin: 10px;
        position: relative;
    }
    label.logo-h {
        padding: 0;
    }
    .active-home a{
        color: #322E2F;
        padding-bottom: 10px;
        border-bottom: 2px solid #322E2F;
    }
    .about .col-s-6 {
        width: 100%;
    }
    .detail {
        position: relative;
        margin-top: -20%;
    }
    /* About  */
    .col-s-2-4 {
        width: 100%;
    }
    /* Footer  */
    .col-s-2-4 {
        width: 100%;
    }
}

/* Phone  */
@media (max-width:480px){
    .logo-h img {
        width: 70px;
        margin: 15px 0;
    }
    .logo-hide {
        display: inherit;
        margin-left: 40px;
    }
    /* text  */
    .home .f-s-head {
        font-size: 40px;
    }
    .home .f-s-sm {
        font-size: 18px;
    }
    .home .m-t-4 {
        margin-top: 2rem;
    }
    nav{
        background: none;
        margin: 0 15px;
    }
    nav ul {
        position: fixed;
        background: #322E2F;
        width: 100%;
        top: 0;
        left: -100%;
        text-align: center;
        transition: all .5s;
        height: 100%;
        z-index: 50;
    }
    nav ul li{
        display: block;
        line-height: 50px;
    }
    nav ul li a {
        font-size: 18px;
        color: #fff;
    }
    nav ul .link-follow {
        display: contents;
    }
    .checkbtn {
        display: block;
        margin-right: 0;
        z-index: 150;
        position: relative;
    }
    #check:checked ~ .checkbtn  {
        color: #00D4FF;
    }
    #check:checked ~ ul {
        left: 0;
    }
    ul a:hover::before,
    ul a:hover::after {
        display: none;
    }
    .active-home a{
        color: #00D4FF;
        padding-bottom: 10px;
        border-bottom: 2px solid #00D4FF;
    }
    /* footer  */ 
    .footer .hide {
        display: none;
    }
    .footer .col-s-3,
    .col-s-6{
        width: 100%;
    }
    .group-ele {
        display: flex;
        justify-content: center;
        text-align: center;
    }
} 
