@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Righteous&family=Roboto:wght@300&family=Ubuntu:wght@300;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

/* Nav-bar  */
.menu {
    display: flex;
}
nav {
    width: 100%;
    height: 80px;
    font-weight: lighter;
    font-size: 18px;
    margin-top: 1rem;
}
label.logo-h {
    padding: 0 40px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
    position: relative;
}
nav ul li a {
    color: #322E2F;
}
nav ul .link-follow {
    display: none;
    color: #fff;
    font-size: 14px;
}

.checkbtn {
    font-size: 1.6rem;
    font-weight: lighter;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    color: #00D4FF;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
.active a{
    color: #00D4FF;
    padding-bottom: 10px;
    border-bottom: 2px solid #00D4FF;
}
nav ul li a:hover {
    color: #00D4FF;
}

ul a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 0%;
    background: #00D4FF;
    height: 2px;
    transition: all 0.5s linear;
    margin: -20px 0;
}
ul a::after {
    content: '';
    position: absolute;
    right: 0;
    top: 100%;
    width: 0%;
    background: #00D4FF;
    height: 2px;
    transition: all 0.5s linear;
    margin: -20px 0;
}
ul a:hover::before {
    width: 100%;
    background: #00D4FF;
}
ul a:hover::after {
    width: 100%;
    background: #00D4FF;
}

@media (max-width:450px){
    .logo-h img {
        width: 70px;
        margin-top: 15px;
    }
    nav{
        background: #322E2F;
    }
    nav ul {
        position: fixed;
        background: #322E2F;
        width: 100%;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        height: 100%;
    }
    nav ul li{
        display: block;
        line-height: 50px;
    }
    nav ul li a {
        font-size: 16px;
        color: #fff;
    }
    nav ul .link-follow {
        display: contents;
    }
    .checkbtn {
        display: block;
    }
    #check:checked ~ ul {
        left: 0;
    }
} 